html {
	background-color: black;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul {
	display: flex;
	justify-content: center;
	gap: 30px;
}
ul li {
	list-style: none;
}

.navigation a {
	font-size: 30px;
	text-decoration: none;
	color: white;
}

h1 {
	font-size: 40px;
	color: white;
	display: flex;
	justify-content: center;
}
